*{
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: green;
    transition: background .2s linear; /* Makes The Color Switch Move slow and smooth instead of jumping*/
}

body.switch{
    background-color: rgb(47, 47, 122);
}

label{
    width: 50px;
    height: 26px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    background-color: #111;
    border-radius: 50px;
    position: relative;
    transform: scale(3); /* Changes The Size of The toggle by 3, transforms it 3 times its original size*/
}



.fa-sun {
    color: green;
}

.fa-moon {
    color: blue; /* Change the color of the moon icon to blue */
}

.ball{
    width: 22px;
    height:22px;
    background-color: white;
    position:absolute;
    top:2px;
    left:2px;
    border-radius: 50%;
    transition:transform .2s linear; /* Makes The Ball Move slow and smooth instead of jumping*/
}

.checkbox{
    opacity: 0;
    position: absolute;
}

.checkbox:checked + label .ball{ 
    background-color:white ;
    transform: translate(24px); /* moves it 24px after being clicked and chamges the color to white*/
}

#anchor{
    position: absolute;
    left: 95%;
    transform: scale(3);
    color: black;
}

#left-anchor{
    position: absolute;
    right: 95%;
    transform: scale(3);
    color: black;
}